name: Update Docker Hub Description

# trigger on master
# and only for readme related modifications
on:
  push:
    branches:
      - master
    paths:
      - README.md
      - .github/workflows/dockerhub-description.yml
jobs:
  dockerHubDescription:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3

    - name: Update Docker Hub Description
      uses: peter-evans/dockerhub-description@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASS }}
        repository: ${{ secrets.DOCKERHUB_USERNAME }}/terraform-azure-cli
